*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ccc;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #444;
    align-items: center;
    border-bottom: olivedrab solid 4px;
    position: relative;
}

.logo{
    font-size: 1.5rem;
    color: olivedrab;
    padding: 10px;
    font-weight: bold;
}

ul{
    list-style: none;
    display: flex;
}

a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    transition: color .3s ease-in-out;
}

a:hover{
    color: olivedrab;
}



.x{
    opacity: 1;
    transform:translateY(0px) rotate(45deg);   
    background: red;
}

.x::before{
    opacity: 1;
    transform:translateY(-1px) rotate(90deg);
    background-color: red;
}
.x::after{
    opacity: 0;
}


button:focus{
    outline: none;
}

.h{
    height: 120px !important;
}


    .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
    background-color: #fff; }

    .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }

    .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
    .hamburger-inner::before {
    top: -10px; }
    .hamburger-inner::after {
    bottom: -10px; }

    .hamburger--emphatic {
    overflow: hidden; }
    .hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
    left: 0;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::after {
    top: 10px;
    right: 0;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
    .hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
    left: -80px;
    top: -80px;
    transform: translate3d(80px, 80px, 0) rotate(45deg);
    transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
    right: -80px;
    top: -80px;
    transform: translate3d(-80px, 80px, 0) rotate(-45deg);
    transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

    .hamburger{
    display: none;
    }

@media (max-width:600px)
{   

    .hamburger{
        display: block;
    }


    .menu{
        position: absolute;
        top: 104%;
        left: 0;
        width: 100%;
        background-color: #444;
        text-align: center;
        height: 0px;
        transition: height .4s ease-in-out;
        border-bottom: 3px solid green;
    }
    ul{
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    li {
        overflow: hidden;
        height: 30px;
        display: flex;
        align-items: center;
    }
    a{
      font-size: 1.3rem;  
    }
}